.signup-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    max-width: fit-content;
}

.signup-header {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    padding: 1rem;
}

.signup-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.signup-input {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    width: 100%;
}

.signup-input input {
    border-radius: 0.5rem;
    padding: 0.5rem;
    border: #ddd solid 1px;
    width: 100%;
}

.signup-btn {
    width: 100%;
    background-color: #FF5A5F;
    color: white;
    font-weight: bold;
    border-radius: 0.5rem;
    padding: 0.5rem;
}

.signup-btn:hover {
    cursor: pointer;
    background-color: rgba(255, 90, 95, 0.8);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
}

.error {
    color: red;
    text-align: left;
}
