.signup-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    max-width: fit-content;
}

.signup-header {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    padding: 1rem;
}

.signup-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.signup-input {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    width: 100%;
}

.signup-input input {
    height: 2rem;
    border-radius: 0.5rem;
    padding-left: 0.5rem;
    border: #ddd solid 1px;
    width: 100%;
}

.signup-btn {
    width: 100%;
    background-color: #FF5A5F;
    color: white;
    font-weight: bold;
    border-radius: 0.5rem;
    height: 40px;
}

.signup-btn:hover {
    cursor: pointer;
}

.error {
    color: red;
    text-align: left;
}
