.spot-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 3rem;
}

.spot-form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 40%;
}

.spot-form-input {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.5rem;
}

.spot-form-input input {
    border: solid 1px #bbb;
    border-radius: 0.5rem;
    height: 1rem;
    padding: 0.5rem;
}

.spot-form-input textarea {
    border: solid 1px #bbb;
    border-radius: 0.5rem;
    padding: 0.5rem;
}

.spot-form-label {
    display: flex;
    gap: 0.5rem;
}

.city-state {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.lng-lat {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.spot-form-price-container {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

.spot-form-price {
    display: flex;
    align-items: center;
    gap: 0.3rem;
    font-weight: bold;
}

.spot-form-price input {
    width: 100%;
}

.spot-form-line {
    border-bottom: 1px solid #bbb;
    margin: 0.5rem 0;
}

.spot-form-btn {
    background-color: rgb(255, 90, 95);
    color: white;
    border-radius: 0.5rem;
    height: 1.5rem;
    width: 15%;
    align-self: center;
    font-weight: bold;
}

.spot-form-btn:hover {
    cursor: pointer;
    background-color: rgba(255, 90, 95, 0.8);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
}
