.spot-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.spot-form input {
    background-color: #E8F0FE;
    border: 2px solid black;
    border-radius: 0.2rem;
    width: 100%;
    height: 30px;
    font-size: 18px;
}

.spot-form textarea {
    background-color: #E8F0FE;
    border: 2px solid black;
    border-radius: 0.2rem;
    width: 100%;
    font-size: 18px;
}

.spot-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.spot-form-images {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-bottom: 3rem;
    border-bottom: black solid 1px;
}

.city-state {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.city-state-comma {
    display: flex;
    align-items: flex-end;
    gap: 1rem;
}

.city-label {
    display: flex;
    gap: 0.5rem;
}

.dollar-sign, .comma {
    font-weight: bold;
}

.spot-form-price-container {
    padding-bottom: 3rem;
    border-bottom: black solid 1px;
}

.spot-form-price {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.spot-form-submit-btn {
    margin-top: 1rem;
    color: white;
    background-color: #FF5A5F;
    border: solid black 2px;
    height: 40px;
    box-shadow: 2px 2px black;
}

.spot-form-submit-btn:hover {
    cursor: pointer;
    color: #FF5A5F;
    background-color: white;
}

.spot-form-submit-btn:disabled {

}
