.landing-page-container {
    display: flex;
    justify-content: center;
}

.spot-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.spot-card {
    display: flex;
    justify-content: center;
}

.spot-info {
    display: flex;
    justify-content: space-between;
}

.spot-card-image {
    border-radius: 0.75rem;
    width: 300px;
    height: 200px;
}

@media (max-width: 1200px) {
    .spot-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 900px) {
    .spot-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .spot-container {
        grid-template-columns: repeat(1, 1fr);
    }
}
