.landing-page-container {
    display: flex;
    justify-content: center;
    margin: 0 5rem;
}

.spot-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 2rem;
}

.spot-card {
    display: flex;
    justify-content: center;
}

.spot-info {
    display: flex;
    justify-content: space-between;
}

.spot-card-image {
    border-radius: 0.75rem;
    aspect-ratio: 20/19;
    width: 100%;
}

@media (max-width: 1879px) {
    .spot-container {
        grid-template-columns: repeat(5, 1fr);
    }
}

@media (max-width: 1639px) {
    .spot-container {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 1127px) {
    .spot-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 950px) {
    .spot-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 549px) {
    .spot-container {
        grid-template-columns: repeat(1, 1fr);
    }
}
