.profile-dropdown {
  position: absolute;
}

.hidden {
  display: none;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  margin: auto 30px;
}

.nav-left {
  display: flex;
  align-items: center;
}

.nav-left .nav-logo {
  float: left;
  width: 50px;
  height: 50px;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-right: 3rem;
}
