.profile-dropdown {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: white;
  border: solid 1px #ddd;
  top: 4.5rem;
  right: 5rem;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  box-shadow: 2px 2px #ddd;
}

.hidden {
  display: none;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  margin: 0 4rem;
}

.nav-left {
  display: flex;
  align-items: center;
}

.nav-left .nav-logo {
  float: left;
  width: 50px;
  height: 50px;
}

.nav-left h2 {
  color: #FF5A5F;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.nav-new-spot {
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  font-size: 15px;
}

.nav-new-spot:hover {
  cursor: pointer;
  background-color: #ddd;
  color: black;
}

.profile-btn {
  display: flex;
  gap: 1rem;
  padding: 0.75rem 1rem;
  border: solid 1px #ddd;
  border-radius: 30px;
}

.profile-btn:hover {
  cursor: pointer;
  box-shadow: 2px 2px #ddd;
}

.profile-div-header {
  padding: .5rem 2rem .5rem 1rem;
  border-bottom: solid 1px #ddd;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.profile-div {
  padding: .5rem 2rem .5rem 1rem;
}

.profile-div:hover {
  cursor: pointer;
  background-color: #eeeeee;
}
